<div class="profile-photo-main-container">
  <div class="profile-photo-main-item">
    <div class="profile-image">
      <% if user.profile_photo.attached? %>
        <%= image_tag user.profile_photo %>
      <% else %>
        <i class="fa fa-user visible-icon" aria-hidden="true"></i>
      <% end %>
    </div>
    <div class="user-attributes">
      <div class="user-attributes name">
        <span><%= user.name %></span>
      </div>
      <% if score %>
        <div class="user-attributes evaluation">
          <%= link_to user_evaluations_path(user) do %>
            <div class="user-attributes evaluation-box">
              <div id="profile-user-score" data-score=<%= user.score.to_i %>></div>
              <span><%= user.score_count %></span>
            </div>
          <% end %>
        </div>
      <% end %>
      
      <div class="user-attributes age-and-gender">
        <%= user.age %>歳
        <%= user.gender %>
      </div>
    </div>
  </div>
</div>

<script>
  $('#profile-user-score').raty({
  score:    $(this).attr('data-score'),
  readOnly: true,
  starOff:  '<%= asset_path('star-off.png') %>',
  starOn:   '<%= asset_path('star-on.png') %>',
  });
</script>