<%= render 'shared/header' %>

<div class="container">
  <div class="profile-main">
    <div class="profile-photo-main-container">
      <div class="profile-photo-main-item">
        <div class="profile-image">
          <% if @user.profile_photo.attached? %>
            <%= image_tag @user.profile_photo.first %>
          <% end %>
          <i class="fas fa-camera"></i><br>
        </div>
        <div class="user-attributes">
          <div class="user-attributes name">
            <%= @user.name %>
          </div>
          
          <div class="user-attributes age-and-gender">
            <%= @user.age %>歳 <span>/</span>
            <%= @user.gender %>
          </div>
        </div>
      </div>
    </div>

      <div class="profile-detail-contents">
        <div class="profile-detail introduce">
          <h3>自己紹介</h3>
          <div class="introduce-text"><%= @user.introduce %></div>
        </div>
      </div>

  </div>
</div>