<%= render 'shared/header' %>

<div class="container">
  <div class="profile-main">
    <% if current_user == @user %>
      <div class="edit-btn">
        <%= link_to "プロフィールを編集する", edit_user_path(@user) %>
      </div>
    <% end %>
    <% if @user.applicant_user?(current_user) %>
      <div class="edit-btn">
        <%= link_to "承認する", '#' %>
      </div>
    <% end %>

    <%= render 'users/profile_photo', user: @user %>

    <div class="profile-detail-contents">
      <div class="profile-detail introduce">
        <h3>自己紹介</h3>
        <div class="introduce-text">
          <% if @user.introduce.present? %>
            <%= safe_join(@user.introduce.split("\n"),tag(:br)) %>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>