<header class="header">
  <div class="header-top__container">
    <div class="header-top-contents">
      <div class="header__logo">
        <%= link_to '刹那フレンド', root_path, id: 'logo' %>
      </div>
      <div class="header__links">
        <% unless current_user %>
          <div class="header__sing-up">
            <%= link_to "新規登録", new_user_registration_path %>
          </div>
          <div class="header__sign-in">
            <%= link_to "ログイン", new_user_session_path %>
          </div>
          <div class="header__easy-sign-in">
            <%= link_to "簡単ログイン", users_guest_sign_in_path, method: :post  %>
          </div>
        <% else %>
          <div class="header__tasks">
            <%# if @evaluatee_users.present? %>
              <div class="evaluatee-user-count">
                <span><%= @evaluatee_users.count %></span>
              </div>
            <%# end %>
            <%= link_to user_incomplete_evaluations_path(current_user), id: 'user-tasks__icon', style: 'visibility: hidden;' do %>
              <i class="fa-solid fa-list-check"></i>
            <% end %>
            <%= link_to 'タスク', user_incomplete_evaluations_path(current_user), id: 'user-tasks' %>
          </div>
          <%= link_to user_notifications_path(current_user), class: 'header__notification-link' do %>  
            <div class="header__notification-icon">
              <% if @notification_count != 0%>
                <div class="unread-notification-count">
                  <span><%= @notification_count %></span>
                </div>
              <% end %>
              <i class="fa-solid fa-bell"></i>
            </div>
          <% end %>
          <div class="header__user-menu">
            アカウント
            <div class="header-user-menu__wrapper" style='display: none;'>
              <div class="header-my-page">
                <%= link_to user_path(current_user) do %>
                  <div class="header-user__info">
                    <%= render 'users/profile_icon', user: current_user %>
                    <div class="header-user__detail">
                      <div class="profile-name">
                        <%= current_user.name %>
                      </div>
                      <div class="header-user-score">
                        <div id="user-score" data-score=<%= current_user.score.to_i %>></div>
                        <div class='header-user-score-count'><%= current_user.score_count %></div>
                      </div>
                    </div>
                  </div>
                  <div class="header-user-right-icon">
                    <i class="fa fa-angle-right fa-sm" aria-hidden="true"></i>
                  </div>
                <% end %>
              </div>
              <%= link_to user_recruits_path(current_user) do %>
                <div class="header-user-recruits">
                  <div class="user-recruits-link">
                    投稿一覧
                  </div>
                  <div class="header-user-right-icon">
                    <i class="fa fa-angle-right fa-sm" aria-hidden="true"></i>
                  </div>
                </div>
              <% end %>
              <%= link_to user_favorites_path(current_user) do %>
                <div class="header-user-favorites">
                  <div class="user-favorites-link">
                    いいね！一覧
                  </div>
                  <div class="header-user-right-icon">
                    <i class="fa fa-angle-right fa-sm" aria-hidden="true"></i>
                  </div>
                </div>
              <% end %>
              <%= link_to user_applicants_index_path(current_user) do %>
                <div class="header-user-applicants">
                  <div class="user-applicants-link">
                    応募した投稿一覧
                  </div>
                  <div class="header-user-right-icon">
                    <i class="fa fa-angle-right fa-sm" aria-hidden="true"></i>
                  </div>
                </div>
              <% end %>
              <%= link_to user_relations_path(current_user) do %>
                <div class="header-user-relations">
                  <div class="user-relations-link">
                    チャット
                  </div>
                  <div class="header-user-right-icon">
                    <i class="fa fa-angle-right fa-sm" aria-hidden="true"></i>
                  </div>
                </div>
              <% end %>
              <%= link_to destroy_user_session_path do %>
                <div class="header-user-logout">
                  <div class="user-logout-link">
                    ログアウト
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <%= link_to new_recruit_path, class: 'header__recruit-link' do %>  
            <div class="header__new-recruit">
              投稿
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</header>

<script>
  $('#user-score').raty({
  score:    $(this).attr('data-score'),
  readOnly: true,
  starOff:  '<%= asset_path('star-off.png') %>',
  starOn:   '<%= asset_path('star-on.png') %>',
  });
</script>