<div class="flexible-rstlst-main">
  <h2 class='page-title'><%= yield(:page_title) %></h2>
  <div class="page-count">
    <span class="page-count__min"><strong><%= "最小" %></strong></span>～<span class="page-count__max">
    <strong><%= "最大" %></strong></span> 件を表示<span class="page-count__line">／</span>
    全 <span class="page-count__num"><strong><%= @recruits.count %></strong></span> 件
  </div>
  <div class="list-rst__wrap">
    <%= render partial: 'secrets/recruit', collection: @recruits, as: :recruit %>
  </div>
  <div class="list-pagination">
  </div>
</div>