<div class="auth-wrapper">
  <div class="auth-item">

    <div class="auth-title">
      <h1><%= t('.sign_in') %></h1>
    </div>

    <div class="auth-data">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <p class="alert"><%= alert %></p>

        <%= render 'devise/shared/email_form', f: f %>
        <%= render 'devise/shared/password_form', f: f %>

        <div class="actions">
          <%= f.submit "ログイン" %>
        </div>
      <% end %>
      <div id="auth_page-link">
        <div class="header__easy-sign-in">
          <%= link_to "簡単ログイン", users_guest_sign_in_path, method: :post  %>
        </div>
        <%= render "devise/shared/links" %>
      </div>

    </div>
  </div>
</div>
