<%= render 'shared/header' %>

<div class="container">
  <div class="show-recruit__wrap">

    <div class="show-recruit__article">
      <div class="show-recruit__images__wrap">
        <div class="show-recruit__images">
          <div class="show-recruit__image side-image-block">
            <% @recruit.images.each do |image| %>
              <div class="show-recruit__image side-image">
                <%= image_tag image %>
              </div>
            <% end %>
          </div>
          <div class="show-recruit__image main-image__wrap">
            <div class="show-recruit__image main-image-block">
              <div class="show-recruit__image main-image">
                <% style_left = 0 %>
                <% i = 1 %>
                <% @recruit.images.each do |image| %>
                  <%= image_tag image, id: "show-image-#{i}", style: "left: #{style_left}px" %>
                  <% style_left += 592 %>
                  <% i += 1 %>
                <% end %>
              <div class="left-arrow" style='visibility: hidden;'>
                <i class="fa-solid fa-arrow-left fa-xl" style="color: #ffffff;"></i>
              </div>
              <div class="right-arrow">
                <i class="fa-solid fa-arrow-right fa-xl" style="color: #ffffff;"></i>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="show-recruit__info">
        <% if current_user == @recruit.user %>
          <div class="another-page__path">
            <div class="applicant-index">
              <%= link_to "応募者一覧へ", recruit_applicants_index_path(@recruit) %>
            </div>
            <div class="edit-btn">
              <%= link_to "編集する", edit_recruit_path(@recruit) %>
            </div>
          </div>
        <% end %>
        <section class="info__header">
          <h1 class="info__title">
            <%= @recruit.title %>
          </h1>
          <div id="info__likes__wrap-<%= @recruit.id %>">
            <%= render 'favorites/favorite', recruit: @recruit %>
          </div>
          <% if current_user != @recruit.user %>
            <div id="info__applicant">
              <%= render 'applicants/applicant', recruit: @recruit, applicant: @applicant %>
            </div>
          <% end %>
        </section>
        <section class="info__summary">
          <div class="info__explain__wrap">
            <div class="info__label">
              <h2 class="info__label-text">概要</h2>
            </div>
            <div class="info__explain__content">
              <%= @recruit.explain %>          
            </div>
            <div class="recruit__time-ago">
              <%= time_ago_in_words(@recruit.created_at) %>前
            </div>
          </div>
        </section>
        <section class="info__schedule">
          <div class="info__label">
            <h2 class="info__label-text">募集の情報</h2>
          </div>
          <div class="info__schedule-items">
            <div class="info__tags">
              <div class="info__tags__label">
                <span class="label">タグ</span>
              </div>
              <div class="info_tag-list">
                <% @tags.each do |tag| %>
                  <p class="info__tag-item">
                    <%= tag.name %>
                    <i class="fa fa-angle-right fa-sm" aria-hidden="true"></i>
                  </p>
                <% end %>
              </div>
            </div>
            <%= render 'shared/timeline', recruit: @recruit %>
          </div>
        </section>
        <section class="info__recruit-user">
          <div class="info__label">
            <h2 class="info__label-text">募集者</h2>
          </div>
            <div class="info__user__wrap">
              <%= link_to user_path(@recruit.user) do %>
                <%= render 'users/user_info', recruit: @recruit, flag: true %>
              <% end %>
            </div>
        </section>
        <section class="info__recruit-comments">
          <div id="comments__wrap">
            <%= render 'comments/recruit_comments' %>
          </div>

          <div class="info__comments__create">
            <%= form_with model: [@recruit, @comment], method: :post, local: false do |f| %>
              <%= f.text_area :text,  maxlength: 28, placeholder: 'コメントを入力' %>
              <%= f.hidden_field :recruit_id, value: @recruit.id %>
              <%= f.submit '送信' %>
            <% end %>
          </div>
        </section>
      </div>

    </div>

  </div>
</div>
